DATABASE_URL=postgresql://user:pass@localhost:5432/mossymeetups?schema=public
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=generate-with-openssl-rand-base64-32
EMAIL_SERVER=smtp://user%40gmail.com:app-password@smtp.gmail.com:587
EMAIL_FROM=you@gmail.com
